#contact .container {
    background: #FFFFFF;
    width: 900px;
    height: 650px;
    /* margin: 5% auto; */
    position: relative;
  }
  footer{
    background-color: #33363f;
    padding-top: 48px;
    border-top-style: solid;
    border-top-width: 40px;
    border-color: #95979b;

  }
  footer .container , footer .container h5{
    color: white;
  }
  footer li i {
    color: #33363f;
  }
  .sub-footer {
    margin-top: 30px;
    background-color: #22242a;
    border-top: 1px solid #22242a;
    padding: 30px 0 10px;
}
  #contact .container .map {
    width: 45%;
    float: left;
  }
  #contact .container .contact-form {
    width: 53%;
    margin-left: 2%;
    float: left;
  }
  #contact .container .contact-form .title {
    font-size: 2.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #242424;
    margin: 5% 8%;
  }
  #contact .container .contact-form .subtitle {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 4% 5% 8%;
  }
  #contact .container .contact-form input,
  .container .contact-form textarea {
    width: 220px;
    padding: 3%;
    /* margin: 2% 8%; */
    color: #242424;
    border: 1px solid #B7B7B7;
  }
  #contact .container .contact-form input::placeholder,
  #contact .container .contact-form textarea::placeholder {
    color: #242424;
  }
  #contact .container .contact-form .btn-send {
    background: #A383C9;
    width: 180px;
    height: 60px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 2% 8%;
    border: none;
  }
  #contact  {
    padding-left: 36px;
    background-color: #00000026;
    padding-top: 1%;
    color: #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  