*{
	font-family:'Tajawal';
	font-size: 16px;
	font-weight: 300;
	/* text-align: center; */
}


#bookingNav{

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #ed1e3b;
	
	}


@media (max-width:300px) {
	.search-bt{
		width: 90%;
	}

}

.navbar-brand {
	padding-top: 15px;
  
	margin-top: 5px;
   
	padding-bottom: 0;
  }
  
label{
	font-size: smaller;
}
.section {
	position: relative;
	height: 112vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	/* font-family:'Tajawal'; */
	background-image: url('../img/background.png');
	background-size: cover;
	background-position: center;
	margin-top: 8%;
	height: 480px;
}

.booking-form {
	background: rgba(26, 79, 143, 0.46);
	padding: 40px;
	border-radius: 78px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 50px;
	color: #191a1e;
	border: none;
	font-size: 16px;
	font-weight: 400;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	padding: 0px 25px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form .form-control::placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 10px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	display: block;
	margin-left: 20px;
	margin-bottom: 5px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	color: #fff;
}

.booking-form .form-checkbox input {
	position: absolute !important;
	margin-left: -9999px !important;
	visibility: hidden !important;
}

.booking-form .form-checkbox label {
	position: relative;
	padding-top: 4px;
	padding-left: 30px;
	font-weight: 400;
	color: #fff;
}

.booking-form .form-checkbox label+label {
	margin-left: 15px;
}

.booking-form .form-checkbox input+span {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
}

.booking-form .form-checkbox input+span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #f23e3e;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.booking-form .form-checkbox input:not(:checked)+span:after {
	opacity: 0;
}

.booking-form .form-checkbox input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

.booking-form .form-btn {
	margin-top: 27px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #f23e3e;
	font-weight: 400;
	height: 50px;
	font-size: 14px;
	border: none;
	width: 100%;
	border-radius: 40px;
	text-transform: uppercase;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}
.search-bt {
	color: black;
	background-color: white;
	width: 104%;
	height: 58px;
	border-radius: 12px;
	margin-top: 5%;
	padding-left: 0px;
}
.icon-style{
	margin-left: 2%;
}






@import url('https://fonts.googleapis.com/css?family=Abel');


#cardd .center {
    display: flex;

}

#cardd .card {
  width: 378px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

#cardd .card h1 {
  text-align: center;
}

#cardd .card .additional {
  position: absolute;
  width: 152px;
  height: 100%;
  background: linear-gradient(#5d87cf, #5D87CF);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

#cardd .card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


#cardd .card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

#cardd .card .additional .user-card {
  width: 158px;
  height: 100%;
  position: relative;
  float: left;
}

#cardd .card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

#cardd .card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

#cardd .card .additional .user-card .points {
  top: 85%;
}

#cardd .card .additional .user-card svg {
  top: 50%;
}

#cardd .card .additional .more-info {
  width: 215px;
  float: left;
  position: absolute;
  left: 166px;
  height: 100%;
}

#cardd .card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

#cardd .card.green .additional .more-info h1 {
  color: #224C36;
}

#cardd .card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
  text-align: left;
}

#cardd .card.green .additional .coords {
  color: #325C46;
}

#cardd .card .additional .coords span + span {
  float: right;
}

#cardd .card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

#cardd .card.green .additional .stats {
  color: #325C46;
}

#cardd .card .additional .stats > div {
  flex: 1;
  text-align: center;
}

#cardd .card .additional .stats i {
  display: block;
}

#cardd .card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

#cardd .card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

#cardd .card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

#cardd .card .general {
  width: 232px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

#cardd .card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}
.additional .coords span {
	font-size: 14px;
}
.additional .user-card img {
width: 80%;
height: 57%;
}


/* card 2 */

.detsils{
	font-size: 10px;
}









#sss span{
    font-size:15px;
}
#sss a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}
#sss .box{
	padding:60px 0px;
	box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
}

#sss .box-part{
    background: #aaaaaa30;
	
	padding: 17px 10px;
	margin: 30px 0px;
	border-radius: 11px;
	border-top-width: 20px;
	border-bottom-width: 20px;
	border-bottom-style: solid;
	border-top-style: solid;
	border-color: #18a8aa;

}
#sss .text{
    margin:20px 0px;
}

#sss .fa{
     color:#4183D7;
}
#sss img{
	border-radius: 100px;
	margin-bottom: 7px;
}




 /* new search br like veezet */




.wrapper-dropdown-2 {
    position: relative;
    /* width: 200px; */
    margin: 0 auto;
    padding: 10px 15px;
 
    /* Styles */
    background: #fff;
    /* border-left: 5px solid grey; */
    cursor: pointer;
    outline: none;
	height: 100%;
}  
.wrapper-dropdown-2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
	
}
.wrapper-dropdown-2 .dropdown {
  /* Size & position */
    position: absolute;
    top: 105%;
    left: 0px;
    right: 0px;
 
    /* Styles */
    background: white;
    transition: all 0.3s ease-out;
    list-style: none;
 
    /* Hiding */
    opacity: 0;
    pointer-events: none;
	padding-left: 0px;
	border-radius: 6px;
}
.wrapper-dropdown-2 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    /* border-left: 5px solid; */
    padding: 10px;
    transition: all 0.3s ease-out;
}
 
.wrapper-dropdown-2 .dropdown li:nth-child(1) a { 
    border-left-color: #00ACED;
}
 
.wrapper-dropdown-2 .dropdown li:nth-child(2) a {
    border-left-color: #4183C4;
}
 
.wrapper-dropdown-2 .dropdown li:nth-child(3) a {
    border-left-color: #3B5998;
}
 
.wrapper-dropdown-2 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}
 
/* Hover state */
 
.wrapper-dropdown-2 .dropdown li:hover  {
    color: grey;
    background-color: darkgrey;
}
.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
}
 
.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
	pointer-events: auto;
	z-index: 2;
}
#dd5{
	
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	/* border-top-style: solid; */
	border-color: white;
}
#style_english{

	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: red;
	border: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: red;
}
#style_arbic{

	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: red;
	border: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: red;
}
#submit-button{
	background-color: red; 
	border:0px;
}





.card-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 100px;
}
#search{
	display: flex;
	margin-top: 5%;
	height: 66px;
	text-align: center;
	margin-left: 0;
	margin-top: 0px;
}
.item{
	/* background-color: blue; */
	width: 200px;
	margin: 10px;
	border-style: solid;
	border-width: 1px;
	margin: 0px;
	border-color: #acacae;
	
}
#content{
	width: 100%;
	display: flex;
	/* background-color: red; */
	border-radius: 10px;
}
select {

	width: 100%;
	height: 100%;
	background-color: whitesmoke;
}
.rowsearch{
	padding: 10px;
}
.extra-info{
	text-align: center;
	background-color: white;
	height: 100%;
	width: 50%;
	border-bottom-width: 1.5px;
	/* border-radius: 21px; */
	
}
.extra-info h1 {
	margin-top: 6%;
	margin-bottom: 0px;
}
.container-search{
	height: 177px;
	background-color: white;
	border-radius: 11px;
	width: 50%;
	border-style: solid;
	border-color: gainsboro;
	border-width: 2.5px;
}
@media (max-width: 400px) {
	#content {
		display: block;
	}
	.wrapper-dropdown-2 .dropdown{
		top: 70%;
		background: #f0e9e9;
	}
}
 

input{
	width: 100%;
	height: 65px;
}


/* testing for doctor  profile like vista */
#covor-profile {
	width: 100%;
	height: 330.5px;
	display: flex;
}

.part-profile{
	width: 50%;height: 300px;

}

.doctor-img {
	width: 30%;
}	

.appointment-booking-btn{

	width: 80%;
	color: white;
	height: 174px;
}

.appointment-time-header ,.appointment-time-footer{

	width: 100%;
	height: 11%;


}

.appointment-time-header{

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #3b92df;
	/* padding-top: 3px; */
}
.appointment-time-footer{

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #ef0f0f;
}

.appointment-time-body{
	width: 100%;
	height: 78%;
	background-color: white;
}

.appointment-time{
	width: 20%;
	/* background-color: red; */
	margin-left: 2%;
}

@media (max-width: 400px) {
	#covor-profile {
		display: block;
	}

	.container-search{

		width: 94%;
	}
	#content {
		display: flex;
		width: 101%;
	}
	#style_arbic{
	width: 26%;
	}
	#style_english{
	width: 26%;
	}
	#booking{
	margin-top: 17%;	
	}
	#sss .box{
		padding: 60px 0px;
	}
	
}
/* @media only screen and (max-width: 600px) {
	
	.doctor-img {
		width: 20%;
		height: 85px;
	}	
	.doctor-img-box{
		width: 100%;
	}
	.doctor-descrption {

		margin-left: 14px;
		text-align: left;
	}
	.appointment-booking-btn{

		display: none;
	}
} */
#img {
    
	display: block;
	width: 79%;
	
	margin-top: 9%;
  
}	